@font-face {
    font-family: 'Yolk';
    src: url('../icon/Yolk-Bold.eot');
    src: url('../icon/Yolk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../icon/Yolk-Bold.woff2') format('woff2'),
        url('../icon/Yolk-Bold.woff') format('woff'),
        url('../icon/Yolk-Bold.ttf') format('truetype'),
        url('../icon/Yolk-Bold.svg#Yolk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
 }
 
 @font-face {
    font-family: 'Yolk';
    src: url('../icon/Yolk-SemiBold.eot');
    src: url('../icon/Yolk-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../icon/Yolk-SemiBold.woff2') format('woff2'),
        url('../icon/Yolk-SemiBold.woff') format('woff'),
        url('../icon/Yolk-SemiBold.ttf') format('truetype'),
        url('../icon/Yolk-SemiBold.svg#Yolk-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
 }
 
 @font-face {
    font-family: 'Yolk';
    src: url('../icon/Yolk-Medium.eot');
    src: url('../icon/Yolk-Medium.eot?#iefix') format('embedded-opentype'),
        url('../icon/Yolk-Medium.woff2') format('woff2'),
        url('../icon/Yolk-Medium.woff') format('woff'),
        url('../icon/Yolk-Medium.ttf') format('truetype'),
        url('../icon/Yolk-Medium.svg#Yolk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
 }
 
 @font-face {
    font-family: 'Yolk';
    src: url('../icon/Yolk-Regular.eot');
    src: url('../icon/Yolk-Regular.eot?#iefix') format('embedded-opentype'),
        url('../icon/Yolk-Regular.woff2') format('woff2'),
        url('../icon/Yolk-Regular.woff') format('woff'),
        url('../icon/Yolk-Regular.ttf') format('truetype'),
        url('../icon/Yolk-Regular.svg#Yolk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
 }